
@font-face {
    font-family: "AlSharkTitle - Black";
    src: url("../fonts/AlSharkTitle-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arabic UI Text - SemiBold";
    src: url("../fonts/ArabicUITextSemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BaksoSapi";
    src: url("../fonts/BaksoSapi.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexSans-Italic - VariableFont";
    src: url("../fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexSans - VariableFont";
    src: url("../fonts/IBMPlexSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Masmak";
    src: url("../fonts/Masmak.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Italic - VariableFont";
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat - VariableFont";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Symbols1_Ver02";
    src: url("../fonts/Symbols1_Ver02.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of Handicrafts - Black";
    src: url("../fonts/TheYearofHandicrafts-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of Handicrafts - Bold";
    src: url("../fonts/TheYearofHandicrafts-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of Handicrafts - Medium";
    src: url("../fonts/TheYearofHandicrafts-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of Handicrafts - Regular";
    src: url("../fonts/TheYearofHandicrafts-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of Handicrafts - SemiBold";
    src: url("../fonts/TheYearofHandicrafts-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of The Camel - Bold";
    src: url("../fonts/TheYearofTheCamel-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of The Camel - ExtraBold";
    src: url("../fonts/TheYearofTheCamel-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of The Camel - ExtraLight";
    src: url("../fonts/TheYearofTheCamel-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of The Camel - Light";
    src: url("../fonts/TheYearofTheCamel-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of The Camel - Medium";
    src: url("../fonts/TheYearofTheCamel-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of The Camel - Regular";
    src: url("../fonts/TheYearofTheCamel-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Year of The Camel - Thin";
    src: url("../fonts/TheYearofTheCamel-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Sans - Black";
    src: url("../fonts/thmanyahsans-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Sans - Bold";
    src: url("../fonts/thmanyahsans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Sans - Light";
    src: url("../fonts/thmanyahsans-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Sans - Medium";
    src: url("../fonts/thmanyahsans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Sans - Regular";
    src: url("../fonts/thmanyahsans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Display - Black";
    src: url("../fonts/thmanyahserifdisplay-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Display - Bold";
    src: url("../fonts/thmanyahserifdisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Display - Light";
    src: url("../fonts/thmanyahserifdisplay-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Display - Medium";
    src: url("../fonts/thmanyahserifdisplay-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Display - Regular";
    src: url("../fonts/thmanyahserifdisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Text - Black";
    src: url("../fonts/thmanyahseriftext-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Text - Bold";
    src: url("../fonts/thmanyahseriftext-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Text - Light";
    src: url("../fonts/thmanyahseriftext-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Text - Medium";
    src: url("../fonts/thmanyahseriftext-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Serif Text - Regular";
    src: url("../fonts/thmanyahseriftext-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
